<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload/file">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
<img  src="/upload/files/103410_83613742_p0.jpg" class="img-fluid" alt="Responsive image">
<img  src="upload/files/103410_83613742_p0.jpg" class="img-fluid" alt="Responsive image">



<h3>Formクラスを利用した実装</h3>
<form th:action="@{/upload/bookinfo}" method="post" enctype="multipart/form-data" th:object="${completeTask}">
    <label>タイトル</label><br>
    <input type="text" th:field="*{title}"><br>
    <label>値段</label><br>
    <input type="text" th:field="*{uid}"><br>
    <label>概要</label><br>
    <input type="file" name="file" th:field="*{image}"><br>
    <select class="form-control selectric" th:field="*{tid}">
        <option th:each="row,rowStat : ${taskHistoryList}" th:value="${row.getTid()}"><span th:text="${row.getTid()}"></span></option>
    </select>
    <button>送信</button>
</form>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>
